NEXT_PUBLIC_APP_URL=https://amnext.academy
STRIPE_SECRET_KEY=sk_test_your_key_here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TUPC0I7x6LkIxoiWf15z04UbjOnhVMyE3Sop5EFxDoIr3XPZDIiGdvW5kecuSDm1OObO5r4QdYnuZnRB6BTR4tx00AcT9K12s
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here

